*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul,li{
 list-style: none;
}
.header{
    width: 1000px;
    height: 80px;
    background-image: url("images/header-bg3.png");
    margin: 0 auto;
}
.logo{
    float: left;
    width: 60px;
    height:6px;
    margin: 15px;
}
.logo img{
    width: 60px;
    height:60px;
    border-radius: 50%;
}
.nav{
   width:750px;
   height: 50px;
    float: right;
    margin-top: 25px;
}
.nav span{
    margin-left: 50px;
}
.nav a{
    color: rgba(0,0,0,1);
    font-size: 20px;
}

.nav a:hover{
    color: darkred;
}

.article{
    width: 1000px;
    height: 1300px;
    border-bottom: 1px solid #e8e8e8;
    margin: 2px auto;
}
.t_nav{
    width: 1000px;
    height:50px;
    margin: 0 auto;
    border-bottom: 1px solid #f1f1f1;
}
.span1{
    display: block;
    float: left;
    width: 130px;
    height: 50px;
    line-height:50px;
    font-size: 14px;
    background-color: rgb(0,170,0);
    text-align: center;
    color: rgba(255,255,255,1)
}
.span2{
    background-color: rgb(0,200,0);
}
.span3{
    display: block;
    float: right;
    width: 380px;
    height: 50px;
    color: #999;
    font-size: 14px;
    line-height: 55px;
}
.left{
    float: left;
    width: 710px;
    height: 1200px;
    margin: 20px 0;
    background:url("images/r_line.jpg") repeat-y right ;
}
.right{
    width:290px;
    height: 1500px;
    float: right;
}
.right_content{
    padding-top: 20px;
    padding-left: 20px;
}
.right p{
    display: block;
    color: #999;
    line-height: 28px;
    font-family: 宋体;
    font-size: 14px;

}
.left_bg {
    width: 710px;
    height: 800px;
}
.left_title{
    font-family: 楷体gb_2312;
    font-size: 22px;
    font-weight: bold;

}
.left_content{
    padding:5px 10px 0 5px;
    font-size: 14px;
    color: rgba(0,0,0,0.7);
}
.pc{
    width: 400px;
    height: 250px;
    margin: 10px auto;
}
.left_bg p{
    display: block;
    text-align: center;
}
.footer{
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    color: rgba(0,0,0,0.3);
    font-size: 13px;
}

